.container {
    display: flex;
    border-top: 1px solid rgba(255,105,102,0.6);
    border-bottom: 1px solid rgba(255,105,102,0.6);
    padding: 20px 5px;
}

.mission_rocket_learnmore_container {
        flex-basis: 50%
}
.mission_rocket_learnmore_container > * {
    padding-bottom: 20px;
}

.mission_rocket_learnmore_container .box_mission p.mission_describe {
    text-transform: uppercase;
}

.mission_rocket_learnmore_container .box_mission p.mission {
    font-size: 1.6em;
}

.mission_rocket_learnmore_container .box_rocket .rocket_describe {
    text-transform: uppercase;
}

.mission_rocket_learnmore_container .box_rocket .rocket_describe {
    display: inline-block;
}

.mission_rocket_learnmore_container span {
    background-color: green;
    display: inline-block;
}

.launch_date_launch_site_container {
    flex-basis: 50%;
}

.launch_date_launch_site_container {
    text-align: right;
}

.launch_date_launch_site_container > * {
    padding-bottom: 20px;
}

.launch_date_launch_site_container .box_launch_date {
    text-transform: uppercase;

}

