header {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
}

header > * {

}

header > * > img {
    width: 100%;
    height: 100%;
}

.arrow {
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0.5;
}

/*.arrow:hover {
    opacity: 1;
}*/

.arrow_container_1 {
    transform: rotate(180deg);
}

.img_container {
    width: 18%;
    max-width: 170px;
}
